<div class="container-body">

  <div class="topnav">
    <span class="header-text">Blog Posts</span>
  </div>

  <div class="search-bar">
    <app-blog-search class="search-box" (searchcriteria)="searchThis($event)"></app-blog-search>
    Total hits: {{pager.totalItems}}
  </div>

  <div class="row card-box">
    <div *ngFor="let post of pagedItems">
      <mat-card class="example-card mt-2 content">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>
            <span [innerHTML]="post.title | highlightSearch: search"></span>
          </mat-card-title>
          <mat-card-subtitle>Author: {{post.userId}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p class="content-body" [innerHTML]="post.body | highlightSearch: search">
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="pagination-block">
    <!-- pager -->
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(1)">First</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a (click)="setPage(page)">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.currentPage + 1)">Next</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.totalPages)">Last</a>
      </li>
    </ul>
  </div>

</div>