.example-card {
    width: 400px;
    height: 200px;
    margin: 10px 10px 10px 10px;
  }
  
  .example-header-image {
    background-image: url('https://amymhaddad.s3.amazonaws.com/morocco-blue.png');
    background-size: cover;
  }

  .card-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 120px;
    margin-left: 8%;
  }

  .container-body {
    padding: 20px 20px 20px 0px;
  }

  .content-body {
    text-align: justify;
  }

  .topnav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
    overflow: hidden;
    background-color: #333;
    color: white;
    padding: 20px 20px 20px 20px;
  }

  .header-text {
    font-size: 2em;
  }

  .content {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .search-bar {
    height: 52px;
    margin-top: 46px;
    width: 100%;
    position: fixed; 
    background-color: white;
    z-index: 3;
    padding: 10px 10px 10px 10px;
    margin-left: 8%;
  }

  a {
    cursor: pointer;
  }

  .pull-right {
    float: right;
  }

  .pagination-block {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  .highlight {
    background-color: yellow;
  }